

.caracteristicas{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: lawngreen;
}

.caracteristicas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.div-aire{
    display: grid;
    justify-items: center;
}