.seccion-contacto {
    background-color: #397F77;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 200px 100px;
    // display: flex;
    // flex-direction: column;
    padding: 2em;
    // align-items: center;
    // justify-content: center;
    .titulo-contacto{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .formulario-contacto{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-column-end: 3;
    }
    .frase{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .mapa-google{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 4;
        iframe{
            height: 100%;
        }
    }
}

.frase {
    font-size: 1.1rem;
    font-style: italic;
    padding: 1em;
}
