.pie-general {
    background-color: #397F77;
    color: white;
    display: grid;
    justify-items: center;
    padding: 2rem;
    .iconos-contacto{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

.elemento-footer {
    padding: 0.6rem;
}
.icono{
    height: 30px;
}